<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить контакт</title>
</head>
<body>
<center>
    <h1>Create contact</h1>
    <form action="/contacts/create" method="post">
        <div>
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName" required th:value="${contacts.firstName}">
        </div>
        <div>
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" required th:value="${contacts.lastName}">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required th:value="${contacts.email}">
        </div>
        <div>
            <label for="phone">Tелефон:</label>
            <input id="phone" name="phone" required th:value="${contacts.phone}">
        </div>
        <br>
        <button type="submit"> Save</button>
    </form>
</center>
</body>

</html>

